.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag {
  margin: 20px;
  cursor: grab;
}

#div1, #div2, #div3, #div4, #div5, #div6 {
  width: 200px;
  height: 300px;
  border: 2px solid #555;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
}

